# Ignore Python compiled files
__pycache__/
*.py[cod]
*$py.class

# Ignore environment files
.env
.venv/
env/
venv/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore macOS specific files
.DS_Store
.AppleDouble
.LSOverride

# Ignore macOS folder attributes
Icon?
._*

# Ignore system files
Thumbs.db
Desktop.ini

# Ignore log files
*.log

# Ignore pyenv files
.python-version

# Ignore virtual environment folder
.virtualenv

# Ignore pip cache
pip-log.txt
pip-delete-this-directory.txt

# Ignore coverage reports
htmlcov/
.coverage
.coverage.*

# Ignore pytest cache
.pytest_cache/

# Ignore mypy files
.mypy_cache/

# Ignore local dev tools config
.idea/
.vscode/
